<section class="product-form">
    <header class="product-form__header">
        <h1>Produkt editieren</h1>
        <a href="" class="btn--close"></a>
    </header>

    <form [formGroup]="productEdit" (ngSubmit)="onSubmit()">
        <fieldset class="product-form__fieldset--vert">
            <legend>Product Information</legend>

            <label for="product-name">Produkt Name:</label>
            <input type="text" id="product-name" formControlName="name"/>
            @if (productEdit.get("name")?.hasError("required")) {
                <p class="product-form__error">Fehler:</p>
                <p class="product-form__error">
                    Bitte gib einen Namen ein.
                </p>
            }
            @if (productEdit.get("name")?.hasError("minlength")) {
                <p class="product-form__error">Fehler:</p>
                <p class="product-form__error">
                    Der Name muss min. 3 Zeichen lang sein.
                </p>
            }
            <label for="description">Beschreibung:</label>
            <textarea id="description" name="description" rows="4" formControlName="description"></textarea>

        </fieldset>
        <fieldset class="product-form__fieldset--hori">
            <legend>Stock &amp; Pricing</legend>

            <label for="stock">Lagerbestand:</label>
            <input type="number" id="stock" name="stock" formControlName="stock" />
            @if (productEdit.get("stock")?.hasError("required")) {
                <p class="product-form__error">Fehler:</p>
                <p class="product-form__error">
                    Bitte gib einen Lagerbestand an.
                </p>
            }
            @if (productEdit.get("stock")?.hasError("min")) {
                <p class="product-form__error">Fehler:</p>
                <p class="product-form__error">
                    Der Lagerbestand darf nicht negativ sein.
                </p>
            }
            <label for="price">Preis pro Stück (€):</label>
            <input type="number" id="price" name="price" step="0.01" formControlName="price" />
            @if (productEdit.get("price")?.hasError("required")) {
                <p class="product-form__error">Fehler:</p>
                <p class="product-form__error">
                    Bitte gib einen Preis an.
                </p>
            }
            @if (productEdit.get("price")?.hasError("min")) {
                <p class="product-form__error">Fehler:</p>
                <p class="product-form__error">
                    Der Preis darf nicht negativ sein.
                </p>
            }
        </fieldset>
        <button type="submit" class="btn btn--primary">Produkt aktualisieren</button>
    </form>
</section>
